.App {
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Part1{
  width: 45%;
  margin: 15px;
  padding: 15px;
}

.Part2{
  width: 45%;
  margin: 15px;
  padding: 15px;
}
